/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.row {
  clear: both; }

@media screen and (min-width: 400px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(1n),
    .grid-2:nth-of-type(1n),
    .grid-3:nth-of-type(1n),
    .grid-4:nth-of-type(1n),
    .grid-5:nth-of-type(1n),
    .grid-6:nth-of-type(1n),
    .grid-half:nth-of-type(1n),
    .grid-full:nth-of-type(1n),
    .grid-25:nth-of-type(1n),
    .grid-unit:nth-of-type(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.2424242424%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 600px) {
  .grid-1 {
    width: 15.404040404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.3232323232%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.2424242424%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-3:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.1616152593%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-4:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.7424240402%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-5:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-6:nth-of-type(1n),
    .grid-full:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.6666666667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.3333333333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-of-type(2n),
    .grid-half.no-margin:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.6666657778%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 82.9999998008%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-of-type(1n),
    .grid-full.no-margin:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.8636363636%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-25:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.3232323232%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
.container {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

/*!////////////////////////////////////////////////
// Custom Shorthand
/////////////////////////////////////////////////*/
img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

svg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.center {
  text-align: center; }

.page-content {
  margin: 40px 0 80px; }

h1 {
  font-family: "Patua One", cursive;
  color: white;
  padding: 10px 40px;
  background-color: #5f99aa;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  margin-bottom: 20px; }

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test {
  min-height: 100px;
  background-color: gray; }

.header {
  background: url("../images/wood-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.logo {
  text-align: center;
  position: relative; }
  .logo img {
    width: 30%; }

nav {
  padding-top: 20px;
  margin-bottom: 120px; }
  nav a {
    color: #e3e0da;
    font-family: "Patua One", cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-right: 20px;
    position: relative;
    border-bottom: 2px solid transparent; }
  nav a:after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 80%;
    margin-left: 10%;
    height: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  nav a:hover {
    color: #99cc33;
    border-bottom: 2px solid #e3e0da; }
  nav a:hover:after {
    background-color: #e3e0da; }
  nav span {
    float: right; }

.brands {
  margin-top: 120px; }
  .brands .grid-logo {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 40px;
    height: 60px;
    position: relative; }
  .brands .grid-logo:last-child {
    margin: 0; }

.home_page-content p {
  width: 50%;
  margin: 20px auto; }
  .home_page-content p span {
    font-family: "Patua One", cursive;
    color: #5f99aa;
    font-size: 1.5em;
    font-weight: normal; }

.home_product-grid {
  margin: 40px auto;
  height: 600px;
  width: 100%;
  overflow: hidden; }
  .home_product-grid img {
    width: 100%; }
  @media screen and (max-width: 1280px) {
    .home_product-grid {
      height: 500px; } }
  .home_product-grid > div {
    display: inline-block;
    vertical-align: top; }
  .home_product-grid .box-container {
    height: 100%;
    width: 24.5%; }
  .home_product-grid .box-medium {
    height: 70%;
    width: 100%;
    display: block;
    overflow: hidden; }
  .home_product-grid .box-small {
    height: 30%;
    width: 100%;
    display: block;
    overflow: hidden; }
  .home_product-grid .box-large {
    height: 100%;
    width: 24.5%;
    overflow: hidden; }
  .home_product-grid .small-top {
    margin-bottom: 5px; }
  .home_product-grid .small-bottom {
    margin-top: 5px; }

.home_banner {
  background-color: #5f99aa;
  text-align: center;
  padding: 30px 0 20px;
  position: relative; }
  .home_banner svg.jacket {
    width: 100px; }
  .home_banner svg.cup {
    width: 80px; }
  .home_banner svg {
    width: 90px;
    height: 70px;
    display: block;
    margin: 0 auto;
    text-align: center; }
  .home_banner h2 {
    color: white;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #e3e0da;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .home_banner h2:after {
    position: absolute;
    bottom: -12px;
    left: 0;
    content: "";
    width: 80%;
    margin-left: 10%;
    height: 4px;
    background-color: #e3e0da;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .home_banner a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .home_banner .grid-25 div {
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .home_banner .grid-25 div:hover svg {
    stroke: #99cc33;
    stroke-width: 20px; }
  .home_banner .grid-25 div:hover h2 {
    color: #99cc33;
    border-bottom: 2px solid #99cc33; }
  .home_banner .grid-25 div:hover h2:after {
    background-color: #99cc33; }

.home_gallery {
  padding: 40px 0;
  background: url("../images/texture.png") repeat; }
  .home_gallery .container > div {
    display: inline-block;
    overflow: hidden;
    height: 100%;
    height: 500px; }
  .home_gallery .container .box-large {
    width: 24.5%;
    margin-right: 1.151515%; }
  .home_gallery .container .box-large:last-child {
    margin-right: 0;
    margin-left: 1.51515%; }
  .home_gallery .container .box-xl {
    width: 47.25%; }

.cycler {
  position: relative; }

.cycler img {
  position: absolute;
  z-index: 1; }

.cycler img.active {
  z-index: 3; }

.cycler2 {
  position: relative; }

.cycler2 img {
  position: absolute;
  z-index: 1; }

.cycler2 img.active2 {
  z-index: 3; }

.cycler3 {
  position: relative; }

.cycler3 img {
  position: absolute;
  z-index: 1; }

.cycler3 img.active3 {
  z-index: 3; }

footer {
  background: url("../images/wood-bg.jpg") no-repeat;
  background-size: cover;
  color: #e3e0da;
  padding-top: 80px; }
  footer nav {
    padding-top: 0; }
    footer nav a {
      font-size: 1.125em; }
  footer span {
    width: 100%;
    display: block;
    text-align: right;
    margin-bottom: 80px; }
  footer span:last-child {
    margin-bottom: 0; }

/*!////////////////////////////////////////////////
// Side Bar / Main Content
/////////////////////////////////////////////////*/
.grid-content.no-margin {
  width: 75%;
  text-align: center;
  padding-right: 20px; }

.sub-header {
  padding-bottom: 40px; }

.sub-page {
  margin-top: 0;
  margin-bottom: 20px; }
  .sub-page h1 {
    margin-top: -60px; }

.side-bar div {
  margin-bottom: 60px; }
.side-bar div {
  border: 2px solid #c4c1ba;
  padding: 20px 40px; }
.side-bar div:first-child {
  padding: 0;
  border: none; }
.side-bar div:last-child {
  padding: 0;
  border: none;
  text-align: center; }
.side-bar ul li:first-child {
  list-style-type: none;
  text-align: center;
  font-family: "Patua One", cursive;
  font-size: 1.5em;
  margin-bottom: 40px;
  color: #5f99aa; }
.side-bar ul li {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  color: #99cc33;
  margin-bottom: 10px; }
  .side-bar ul li a {
    color: #5f99aa; }
  .side-bar ul li a:hover {
    color: #99cc33; }
.side-bar p {
  color: #5f99aa;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em; }
  .side-bar p span {
    font-family: "Patua One", cursive;
    font-size: 24px; }

.sub-a {
  color: white;
  padding: 10px 20px;
  background-color: #5f99aa;
  display: inline-block;
  font-family: "Patua One", cursive;
  font-size: 1.5em;
  margin-bottom: 20px; }

.sub-a:hover {
  background-color: #99cc33; }

.sub-a:last-child {
  margin-bottom: 0; }

.product-wrapper {
  width: 30%;
  height: 391px;
  background-color: grey;
  display: inline-block;
  margin-right: 1.51515%;
  margin-bottom: 3%; }

.row div:last-child {
  margin-right: 0; }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
footer nav {
  margin-bottom: 60px; }
footer svg {
  width: 30px;
  height: auto;
  fill: #e3e0da;
  margin-right: 20px; }
footer svg:hover {
  fill: #99cc33; }

.border-1:after {
  position: absolute;
  top: -50px;
  left: 0;
  content: "";
  width: 45%;
  margin-left: 27.5%;
  height: 6px;
  background-color: #c4c1ba; }

.border-1:before {
  position: absolute;
  bottom: -48px;
  left: 0;
  content: "";
  width: 45%;
  margin-left: 27.5%;
  height: 6px;
  background-color: #c4c1ba; }

.border-2:after {
  position: absolute;
  top: -30px;
  left: 0;
  content: "";
  width: 52%;
  margin-left: 24%;
  height: 2px;
  background-color: #c4c1ba; }

.border-2:before {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: "";
  width: 52%;
  margin-left: 24%;
  height: 2px;
  background-color: #c4c1ba; }

.grid {
  padding: 0; }
  .grid figure {
    margin: 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    height: 600px;
    max-height: 600px; }
    @media screen and (max-width: 1280px) {
      .grid figure {
        height: 500px;
        max-height: 500px; } }
    .grid figure p {
      width: 100%; }
    .grid figure h2 {
      font-family: "Patua One", cursive;
      font-weight: normal; }
    .grid figure img {
      height: auto;
      position: relative;
      display: block;
      opacity: 1;
      min-height: auto;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

.box-container .box-small figcaption {
  padding: 0; }
.box-container .box-small figure {
  height: 180px; }
  @media screen and (max-width: 1280px) {
    .box-container .box-small figure {
      height: 150px; } }
@media screen and (max-width: 1280px) {
  .box-container .box-small p {
    padding-top: 10px; } }
.box-container .box-small figcaption::before {
  top: 20px; }
.box-container .box-small figcaption::before {
  bottom: 20px; }
.box-container .box-small h2 {
  padding-top: 10%; }
.box-container .box-medium figcaption {
  padding: 1em; }
.box-container .box-medium figure {
  height: 418px; }
  @media screen and (max-width: 1280px) {
    .box-container .box-medium figure {
      height: 345px; } }

/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.hidden {
  display: none !important;
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// -------------------------------------------------------------- */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
