@import "resets.scss";
@import "layout.scss";
@import "_bourbon.scss";

.container {
    max-width: 1280px;
    width: 92%;
    margin: 0px auto;
    position: relative;
}


/*!////////////////////////////////////////////////
// Custom Shorthand
/////////////////////////////////////////////////*/
$font-header: 'Patua One', cursive;
$font-body:'Roboto', sans-serif;

$color-base:#2b2b2b;
$color-blue:#5f99aa;
$color-green:#99cc33;
$color-grey:#c4c1ba;
$color-light-grey:#e3e0da;

$section-margin: 80px;
$section-padding: 80px;

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	@include transition(all 0.3s ease-in-out);
}

.center {
	text-align: center;
}

.page-content {
	margin: 40px 0 $section-margin;
}

h1 {
	font-family: $font-header;
	color: white;
	padding: 10px 40px;
	background-color: $color-blue;
	display: inline-block;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}

p {
	font-family: $font-body;
	font-size: em(18);
	margin-bottom: 20px;
}

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test{
	min-height: 100px;
	background-color: gray;
}

.header {
	background: url('../images/wood-bg.jpg') no-repeat;
	background-size: cover;
}

.logo {
	text-align: center;
	position: relative;

	img {
		width: 30%;
		margin: 120px 0;
	}
}


nav {
	padding-top: 20px;
	a {
		color: $color-light-grey;
		font-family: $font-header;
		font-size: em(24);
		text-transform: uppercase;
		margin-right: 20px;
		position: relative;
		border-bottom: 2px solid transparent;
	}

	a:hover {
		color: $color-blue;
		border-bottom: 2px solid $color-blue;
	}

	span {
		float: right;
	}

}

	.brands {
		text-align: center;

		.grid-1 {
			text-align: center;
		}

	}

.home_page-content {
	p {
		width: 50%;
		margin: 20px auto;

		span {
			font-family: $font-header;
			color: $color-blue;
			font-size: em(24);
			font-weight: normal;
		}
	}
}

.home_product-grid {
	margin: 40px auto;
	height: 600px;
	width: 100%;
	overflow: hidden;

	@media screen and (max-width: 1280px) {
		height: 500px;
	}

	> div {
		display: inline-block;
		vertical-align: top;
	}

	.box-large {
		height: 100%;
		width: 24.5%;
		background-color: $color-grey;
	}

	.box-container {
		height: 100%;
		width: 24.5%;
	}

	.box-medium {
		height: 70%;
		width: 100%;
		background-color:$color-grey;
		display: block;
	}

	.box-small {
		height: 30%;
		width:100%;
		background-color: $color-grey; 
		display: block;
	}

	.small-top {
		margin-bottom: 5px;
	}

	.small-bottom {
		margin-top: 5px;
	}
}



/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "helpers.scss";